@import "../../assets/golobalStyle/index.scss";
.title {
    position: relative;
    margin-right: 35px;
    font-weight: 700;
    &::before {
        margin-right: -35px;
        position: absolute;
        content: "";
        width: 15px;
        height: 100%;
        background-color: $orange;
        top: 0;
        right: 0;
        border-radius: 10px;
    }
   
}
.subTitle {
   line-height: 1.6;
}

@media only screen and (max-width: 991px) {
    h2 {
        font-size: 26px !important;
    }
}
@media only screen and (max-width: 767px) {
    h2 {
        font-size: 24px !important;
    }
}
