@import "../../assets/golobalStyle/index.scss";

.card {
    padding: 50px;
    box-shadow: 5px 6px 6px #0000000a;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 50px;
    &::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 100%;
        background-color: $orange;
        top: 0;
        left: 0;
    }
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
    .title {
        font-size: 18px;
    }
}
